.slide
  #screenoverlay
  h1 How does it work?
  div By teaching a neural network how to see and classify the numbers.
  .how.columns
    .box
      .overlay
        include what-is-a-neural-network
      img
      h3 What is a Neural Network?
      .explain A Neural Network is a way to teach computer things.
      .learnmore Learn more
      
    .box
      .overlay
        include how-does-the-network-learn
      img
      h3 How Does the Network Learn?
      .explain By trying to get an answer right again and again. Each time we say if the answer was correct.
      .learnmore Learn more
      
    .box
      .overlay
        include what-is-training-data
      img
      h3 What is Training Data?
      .explain The training data tells the network when it was right or wrong.
      .learnmore Learn more

  script(type="text/javascript").
    const d = currentSlide();

    const resetOverlays = () => {
      d.querySelectorAll(".overlay").forEach(o => o.classList.remove("visible"));
      d.querySelector("#screenoverlay").classList.remove("visible");
    };
    
    currentSlide().onEnter = async (controller) => {
      //controller.initIntroPaint(document.querySelector("#intropaint"))
      d.querySelectorAll(".how > .box").forEach(btn => {
        btn.onpointerdown = () => {
          btn.querySelector(".overlay").classList.add("visible");
          d.querySelector("#screenoverlay").classList.add("visible");
        };
      });
      
      d.querySelector("#screenoverlay").onpointerdown = resetOverlays;
      controller.initIntroPaint(document.querySelector("#normalizepaint"));
    };
    


    currentSlide().onExit = async (controller) => {
      resetOverlays();
      controller.cleanupPaint();
      //controller.cleanupPaint();
    };
