.slide
  h1 How does it work?
  .columns
    .box
      img
      h3 What is a neural Network?
      div A Neural Network is a way to teach computer things.
    .box
      img
      h3 How does the network learn?
      div By trying to get an answer right again and again. Each time we say if the answer was correct.
    .box
      img
      h3 What is Training Data?
      div The training data tells the network when it was right or wrong.
  
  script(type="text/javascript").
    currentSlide().backbutton = "Back";
    currentSlide().nextbutton = "Train the Network!";
    
    currentSlide().onEnter = async (controller) => {
      //controller.initIntroPaint(document.querySelector("#intropaint"))
    };
    
    currentSlide().onExit = async (controller) => {
      //controller.cleanupPaint();
    };
