.slide
  h1 Can I read your number?
  #intropaint.paint.columns
    .column
      .input.box.background
        canvas.drawcanvas
      p You
    .column
      .output.box
        p.digit 3
      p Computer
  script(type="text/javascript").
    
    currentSlide().backbutton = false;
    currentSlide().nextbutton = "How does that work?";
    currentSlide().onEnter = async (controller) => {
      controller.initIntroPaint(document.querySelector("#intropaint"))
    };
    
    currentSlide().onExit = async (controller) => {
      controller.cleanupPaint();
    };
