.slide
  .box.header
    h1 Split the MNIST database into a training-set and a validation set.
  .box.middle
    | We will use a large fraction of the images for training a neural network.
    | We consider the training process as succesful if it generalizes to images outside of the training set.
    | Therefore, we are using the remaining part of the images, that have not
    | been used for training, for validation.
    p
      | Select the fraction of validation images in 
      a(href="index.html#3?expert") expert mode (TODO)
      | .

  //TODO: transfer this into CSS etc.
  .split.training.step3
    div <b>80%</b> of the images are used for <b>training</b>
  .split.validation.step3
    div <b>20%</b> of the images are used for validation
  .box.navigation    
    a(href="index.html#4") apply selection and continue
  script.   
    currentSlide().onEnter = () => {
      document.querySelector('.background').style.filter = 'blur(0px)';
    };
    currentSlide().onExit = () => {
      document.querySelector('.background').style.filter = 'blur(10px)';
    };
