.slide
  .split.training
    h3 Training network
    #training-controls(style="visibility:hidden;")
      a(href="#5").pause-resume pause training
      a(href="#5").reset reset training
    #training-accuracy
    #training-progress
  .split.validation
    h3 Validation
    div 50 random choosen images of the validation set:
      #validation-images
    p
    div accuracy on entire validation set:
      p
        #validation-accuracy(style="--angle:360deg")
          div 0%
  #previewpaint.box.bottomleft.paint
      div
        p <b>Draw</b> a digit here:
        canvas.drawcanvas
      div
        p The neural network sees...
        canvas.normalizecanvas
      div 
        p ... and predicts
        div.bars
  .box.navigation    
    a(href="index.html#1") restart
  script(type="text/javascript", src="src/js/step5.js")
