.slide
  .split.training
    h3 Training network
    #status loading data...
    a#training-controls(href="#5", style="visibility:hidden;") start training

    #training-accuracy
    #training-progress

    div Here we do training
  .split.validation
    h3 Validation
    div comparision images for 42 images from the validation set.

    div accuracy on entire validation set
    #validation-accuracy total accuracy 42.42%

    div history


    div Here we depict validation.
    #validation-images

  .box.navigation    
    a(href="index.html#1") restart
  script(type="text/javascript", src="src/js/step5.js")
