.slide
  .box.header
    h1 Can the computer read your handwriting?
  #intropaint.box.middle.paint
      div
        p <b>Draw</b> a digit here:
        canvas.drawcanvas
      div
        p The neural network sees...
        canvas.normalizecanvas
      div 
        p ... and predicts
        div.bars


  .box.navigation    
    a(href="index.html#2") find out how it works
  script(type="text/javascript").
    currentSlide().onEnter = async (controller) => {
      controller.initIntroPaint(document.querySelector("#intropaint"))
    };
    
    currentSlide().onExit = async (controller) => {
      controller.cleanupPaint();
    };
