.slide
  .box.header
    h1 Can the computer read your handwriting?
  .box.middle
    .paint
      div
        p Draw a digit here:
        canvas#intopaint-drawcanvas
      div
        p The neural network sees...
        canvas#intopaint-normalizecanvas
      div 
        p ... and predicts
        div#intopaint-output.bars


  .box.navigation    
    a(href="index.html#2") find out how it works
  script.
    currentSlide().onEnter = async (controller) => {
      controller.initPaint(document.querySelector("#intopaint-drawcanvas"), document.querySelector("#intopaint-normalizecanvas"), document.querySelector("#intopaint-output"))
    };
    
    currentSlide().onExit = async (controller) => {
      controller.cleanupPaint();
    };
