.slide
  .box.header
    h1 Tap on the screen to select fraction to split the MNIST database into a training-set and a validation set.
  .box.navigation    
    a(href="index.html#4") apply selection and continue
