.slide
  .box.middle
    | We use a collection of 70 000 labeled images. We use to train a neural network that classifies images of the digits 0,1,2,3,4,5,6,7,8 and 9
  .box.navigation  
    a(href="index.html#3") continue
  script.   
      document.scripts[document.scripts.length - 1].parentNode.onEnter = () => {
        document.querySelector('.background').style.filter = 'blur(0px)';
      };
      document.scripts[document.scripts.length - 1].parentNode.onExit = () => {
        document.querySelector('.background').style.filter = 'blur(10px)';
      };
