.slide
  .split.training
    h3 Training network
    #status loading data...
    a#training-controls(href="#5", style="visibility:hidden;") start training
    #training-accuracy
    #training-progress
  .split.validation
    h3 Validation
    div comparision images for 42 images from the validation set.
    #validation-images
      
    #validation-accuracy

    div history
  .box.navigation    
    a(href="index.html#1") restart
  script(type="text/javascript", src="src/js/step5.js")
