.slide
  h1#title Train the Network!
  .train
    .view
      .simplenetwork.visible
        canvas
      .advanced
        //canvas
        .columns
          .column.options
            div Model architecture:
              br
              select.modelid
                option(value="dense", selected) dense network, 784-100-10
                option(value="cnn") convolutional network
                option(value="nohidden") no hidden layers, dense network 784-10
            div Activation function:
              br
              select.activation
                option(value="relu", selected) ReLu
                option(value="tanh") tanh
                option(value="sigmoid") sigmoid
          .column.options
            div Optimizer:
              br
              select.optimizerid
                option(value="adam", selected) adam
                option(value="sgd") stochastic gradient descent
            div Learning rate:
              br
              input(type="range", min="-4" max="0" value="-3", step="any").learningrate
              .learningratetxt 0.001

      .paint
        .input.box.background
            canvas.drawcanvas
          p You
        .bars
          p Confidences
        .output.box
            p.digit 3
          p Computer
    .menu
      .controls
        a(href="#2", title="reset training").reset
        a(href="#2", title="pause/resume training").pause-resume.pause
        a(href="#2", title="train a single step").single-step
      .box
        .info
          .info-item.imagesused
            .number 0
            div Images used
          .h-seperator
          .info-item.accuracy
            .number 10%
            div Predicted Accuracy
        //.v-seperator
        //a.button.testit -&gt; Test the Network!
      p Expert mode 
        span.expertmode-on-off off
        label.switch
          input(type="checkbox").expertmode
          span.slider.round

  script(type="text/javascript" src="src/js/training.js")
