.slide
  h1 Train the Network!
  .train
    .view
      .simplenetwork.visible
        canvas
      .advanced
        div Expert mode
      .paint
        .columns
          .column
            .input.box.background
              canvas.drawcanvas
            p You
          .column
            .bars
            p Confidence Levels
          .column
            .output.box
              p.digit 3
            p Computer
    .menu
      .controls
        a(href="#2", title="reset training").reset
        a(href="#2", title="pause/resume training").pause-resume.pause
        a(href="#2", title="train a single step").single-step
      .box
        .info
          .info-item.imagesused
            .number 0
            div Images used
          .h-seperator
          .info-item.accuracy
            .number 10%
            div Predicted Accuracy
        .v-seperator
        a.button.testit -&gt; Test the Network!
      p Expert mode off
        label.switch
          input(type="checkbox")
          span.slider.round
      
  script(type="text/javascript" src="src/js/training.js")
