.slide
  h1 Train the Network!
  .train
    .preview
      .simplenetwork.selected
        
      .advanced
        
      .testit
    .menu
      .controls
        a(href="#2", title="reset training").reset
        a(href="#2", title="pause/resume training").pause-resume
        a(href="#2", title="train a single step").single-step
      .box
        .info
          .info-item.imagesused
            .number 0
            div Images used
          .h-seperator
          .info-item.accuracy
            .number 10%
            div Predicted Accuracy
        .v-seperator
        .button
          a -&gt; Test the Network!
      p Expert mode off
        label.switch
          input(type="checkbox")
          span.slider.round
      
  script(type="text/javascript").
    currentSlide().onEnter = async (controller) => {
      
    };

    currentSlide().onExit = async (controller) => {
      
    };
