.slide
  h1 Train the Network!
  div This has to be done
  a.nextbutton(href="index.html#4") Test the network.
  
  script(type="text/javascript").
    currentSlide().backbutton = "Back";
    currentSlide().nextbutton = false;

    currentSlide().onEnter = async (controller) => {
      
    };

    currentSlide().onExit = async (controller) => {
      
    };
