p
  | Training data is the basis for a neural network to do what you want. It is usually a large set of sample data combined with the desired outputs (= the solutions, so to speak). Often a large part of the training data (e.g. 80%) is used to train the network, while the remaining part (e.g. 20%) is used to test the network and to check its performance / accuracy. Training data is very valuable, and luckily there are open databases like the MNIST database of handwritten digits that we used for this exhibit.
p
  | For the Neural Numbers exhibit we used 70,000 images of handwritten digits (input) and the desired output (as a result):
.figure
  img.img-fluid(src='assets/img/what-is-training-data-fig-1.png')
