.bars {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}


.barcontainer {
  position: relative;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bartxt {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  /*bottom: 4px;*/
  /*position: absolute;*/
  width: 100%;
  padding-bottom: 7px;
  padding-top: 7px;
}

.bar {
  /*position: absolute;*/
  margin-left: auto;
  margin-right: auto;
  /*bottom: 10%;*/
  width: 20px;
  background: #E6E6E6;
  box-sizing: border-box;
  border-radius: 20px;
  /*top: calc(100% - var(--probability)*90%);*/
  height: calc(var(--probability) * 90%);
}

.bar.highlighted {
  background: $color-yellow;
}
