
.button {
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  font-weight: normal;
  padding: 14px 28px;
  margin: 25px;
  pointer-events: all;
  border: 1px solid #CCCCCC;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.button:hover {
  background: #EEEEEE;
}

.button.selected {
  font-weight: bold;
  background: $color-yellow;
}

.button::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 12px;
  width: 30px;
  height: 32px;
  display: inline-block;
}


.back.button::before {
  background-image: url("../../assets/img/backarrow.svg");
}
