.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-gray;
  align-items: baseline;
  display: flex;
  padding: 26px;
  z-index: 10;
}

.footer .navigation {
  margin-right: auto;
  margin-left: auto;
}

.footer .navbutton {
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  font-weight: normal;
  padding: 14px 28px;
  margin: 25px;
  pointer-events: all;
  border: 1px solid #CCCCCC;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.footer .navbutton:hover {
  background: #EEEEEE;
}

.footer .navbutton.selected {
  font-weight: bold;
  background: $color-yellow;
}

.footer .navbutton::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 12px;
  width: 30px;
  height: 32px;
  display: inline-block;
}

.footer .navbutton:nth-child(1)::before {
  background-image: url("../../assets/img/pen.svg");
}

.footer .navbutton:nth-child(2)::before {
  background-image: url("../../assets/img/train.svg");
}

.footer .navbutton:nth-child(3)::before {
  background-image: url("../../assets/img/info.svg");
  height: 25px;
}

.footer .international {
  background-image: url("../../assets/img/international.svg");
}
/*
.footer #backbutton::before {
  content: "< ";
}

.footer #nextbutton {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.footer #nextbutton::after {
  content: " >";
}
*/
