.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-gray;
  align-items: baseline;
  display: flex;
  padding: 26px;
  z-index: 10;
}

.footer .navigation {
  margin-right: auto;
  margin-left: auto;
}

.footer .navigation .button:nth-child(1)::before {
  background-image: url("../../assets/img/pen.svg");
}

.footer .navigation .button:nth-child(2)::before {
  background-image: url("../../assets/img/train.svg");
}

.footer .navigation .button:nth-child(3)::before {
  background-image: url("../../assets/img/info.svg");
  height: 25px;
}

.footer .international {
  background-image: url("../../assets/img/international.svg");
}
/*
.footer #backbutton::before {
  content: "< ";
}

.footer #nextbutton {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.footer #nextbutton::after {
  content: " >";
}
*/
