#screenoverlay {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: all !important;


  background: rgba(0,0,0, .3);
/*  backdrop-filter: blur(5px);*/
}

.overlay {
  visibility: hidden;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 70vw;
  column-count: 2;
  text-align: justify !important;
  color: black !important;
  transform: translateX(-50%) translateY(-50%);
  background: #FFFFFF;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 28px;
  z-index: 30;
}
