.paint .box {
  border: 5px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  width: 287px;
  height: 287px;
  margin-top: 160px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
};

.paint .output {
  border-color: #C4C4C4;
}

.paint .output {
  font-size: 100px;
  font-style: normal;
  font-weight: bold;
}

.paint .input > p {
  opacity: 0.1;
  pointer-events: none;
  user-select: none;
}

.paint .input.box {
  position: relative;
}

.paint .input.box.background {
  background-image: url("../../assets/img/pen.svg");
  background-repeat: no-repeat;
  background-size: 105px;
  background-position: center;
}

.paint canvas {
  pointer-events: all !important;
  z-index: -1;
  filter: invert(1);
  opacity: 0.5;
  width: 277px;
  height: 277px;
  left: 0;
  top: 0;
  position: absolute;
}
