
.paint .box {
  border: 5px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  width: 287px;
  height: 287px;
  margin-top: 160px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
};

.paint .inputcontainer {
  text-align: left;
  position: relative;
}

.paint .output {
  border-color: #C4C4C4;
}

.paint .output {
  font-size: 100px;
  font-style: normal;
  font-weight: bold;
}

.paint .input > p {
  opacity: 0.1;
  pointer-events: none;
  user-select: none;
}

.paint .input.box {
  background-image: url('assets/img/pen.svg');
}

.paint .drawcanvas {
  z-index: 1;
  filter: invert(1);
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}
