$button-spacing: 0.25rem;

.neural-numbers-training-component {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 0.5rem;

  .controls {
    margin: 0 -$button-spacing;
  }

  .progress-bar {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .image-count-label {
    margin-right: 0.5em;
    font-weight: bold;
  }

  .btn {
    font-size: 0;
    border: 2px solid #b6b6b6;
    border-radius: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 0 $button-spacing;
    cursor: pointer;
  }

  .start-pause-btn {
    width: 4rem;
    height: 4rem;
    background-image: url("../../assets/img/resume.svg");
    background-position: 60% center;
  }

  &.running {
    .start-pause-btn {
      background-image: url("../../assets/img/pause.svg");
    }
  }

  .step-btn {
    width: 3.3rem;
    height: 3.3rem;
    background-image: url("../../assets/img/step.svg");
    background-size: 55%;
    background-position: 42% center;
  }

  .reset-btn {
    width: 3.3rem;
    height: 3.3rem;
    background-image: url("../../assets/img/reset.svg");
    background-size: 45%;
    background-position: center 40%;
  }
}
