.slide(data-slide='how-does-the-network-learn', data-slide-nav='how-does-it-work')
  .how
    .content
      h2(data-i18n-str='how-learn-title')
      p(data-i18n-str='how-learn-text')
      a.back.button(href='#how-does-it-work', data-i18n-str='how-work-learn-back')
