.slide(data-slide='training')
  h1.alternatives
    .titletrain.visible Train the Network!
    .titletest Test the Network!
  .train
    .view
      .inputspace.visible
        .paint
          .input.box.background
              canvas.drawcanvas
          p You
        .training
          .box
            canvas.traininputcanvas
          p Training...
      .simplenetwork.visible
        canvas.network
        canvas.activations
      .advanced
        .parameter
          .title Model architecture
          .select.modelid
            .option(data-value="dense").selected 3-Layer Dense Network
            .option(data-value="cnn") Convolutional Network
            .option(data-value="nohidden") No hidden layers
        .parameter
          .title Activation function
          .select.activation
            .option(data-value="relu").selected ReLu
            .option(data-value="tanh") tanh
            .option(data-value="sigmoid") sigmoid
        .columns
          .column
            .parameter
              .title Learning rate
              input(type="range", min="-4" max="0" value="-3", step="any").learningrate
              .learningratetxt 0.001
          .column
            .parameter
              .title Optimizer
              .select.optimizerid
                .option(data-value="adam").selected adam
                .option(data-value="sgd") Stochastic Gradient Descent
      .bars.vertical.visible

    .menu
      .box
        .info
          .info-item.imagesused
            .number 0
            div Images used
          .h-seperator
          .info-item.accuracy
            .number 10%
            div Predicted Accuracy
        .v-seperator
        .controls
          a(href="#training", title="reset training").reset
          a(href="#training", title="pause/resume training").pause-resume.pause
          a(href="#training", title="train a single step").single-step
        //a.button.testit -&gt; Test the Network!
      .modeswitch
        a.activate Activate Advanced Mode
        a.cancel Cancel Advanced Mode
