.footer
  .navigation
    a.navbutton(href="index.html#1") Draw!
    a.navbutton(href="index.html#2") Train!
    a.navbutton(href="index.html#3") How does it work?
  .icons
    a.international
    a.info
