.header
  .headerbox
    a.navbutton#backbutton &lt; Back
  .headerbox
    #navcircles.circles
      a.circ(href="index.html#1").selected
      a.circ(href="index.html#2")
      a.circ(href="index.html#3")
      a.circ(href="index.html#4")
  .headerbox
    a.navbutton#nextbutton How does that work? &gt;
