extends tpl/page

block main
  include include/slides/intro
  include include/slides/training
  include include/slides/how-does-it-work
  include include/slides/what-is-a-neural-network
  include include/slides/how-does-the-network-learn
  include include/slides/what-is-training-data
