extends tpl/page

block main
  include slides/intro
  include slides/training
  include slides/how-does-it-work
  include slides/what-is-a-neural-network
  include slides/how-does-the-network-learn
  include slides/what-is-training-data
