doctype html
html
  - body = { class: [] };
  - main = { class: [] };
  block init
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no')
    meta(property="og:url", content!=config.siteURL)
    meta(property="og:type", content="website")
    meta(property="og:title", content!=config.siteName)
    meta(property="og:image", content="")
    meta(name="description", content!=(description || config.siteDescription))
    meta(property="og:description", content!=(description || config.siteDescription))
    block meta
    link(rel="icon", type="image/png", href="assets/img/favicon.png")
    block stylesheets
    title
      | Neural Numbers Embed Test
    block head
  body(class!=body.class.join(' '))
    .container
      .row.justify-content-center
        .col-md-12
          .my-4
            h2 Basic:
            iframe(src!="embed.html?input-placeholder=Enter%20a%20number%20between%200%C2%A0and%C2%A09", width="100%", height="244", style="border:0;")
            h2 With bars:
            iframe(src!="embed.html?show-bars=true&show-output=true&input-placeholder=Enter%20a%20number%20between%200%C2%A0and%C2%A09", width="100%", height="244", style="border:0;")
            h2 Normalization:
            iframe(src!="embed.html?show-normalizer=true&show-output=false&input-placeholder=Enter%20a%20number%20between%200%C2%A0and%C2%A09", width="100%", height="244", style="border:0;")
            h2 Bad:
            iframe(src!="embed.html?model=my-model-320&style=bad&show-bars=true&input-placeholder=Enter%20a%20number%20between%200%C2%A0and%C2%A09", width="100%", height="244", style="border:0;")
            h2 Mediocre:
            iframe(src!="embed.html?model=my-model-1568&style=mediocre&show-bars=true&input-placeholder=Enter%20a%20number%20between%200%C2%A0and%C2%A09", width="100%", height="244", style="border:0;")
    block scripts
    block closing
