.col-4
  p
    | Jedes Neuron arbeitet mit vorgegebenen Funktionen (wie der Aktivierungsfunktion) und mit veränderbaren Werten (wie Gewichten und Bias). Die veränderbaren Werte sind für das Lernen besonders interessant.
  .figure
    img.img-fluid(src='assets/img/what-is-a-neural-network-fig-2.svg')
.col-4
  p.lead
    | Ein neues Neuronales Netzwerk “weiß” am Anfang nichts. Es muss erst Lernen bzw. trainiert werden. Dazu wird das Neuronale Netzwerk mit Trainingsdaten “gefüttert”.
  p
    | Trainingsdaten bestehen in unserem Fall aus handgeschriebenen Ziffern als Eingabe und der Information, welche Ziffer, das ist. Das Netzwerk startet nun der Reihe nach mit einzelnen Trainingsbildern und ihren Werten. Nach jedem "Einzeltraining", werden die veränderlichen Werte (also Bias und Gewichte) so verändert, dass der Output sich in Richtung der gewünschten Zahl verändert - und zwar nicht nur für das aktuelle Trainingsbild, sondern für alle Trainingsdaten. Dann startet das Netzwerk die nächste Trainingseinheit mit den nächsten Trainingsdaten. Durch die fortwährende Anpassung von Bias und Gewichten “lernt” das Netzwerk nach und nach dazu, die Output-Daten werde immer genauer. Diese Optimierungsmethode heißt “Gradient Descent”. Sie ist eine der wichtigsten Methoden der KI.

