.col-4
  p
  .figure
    img.img-fluid(src='assets/img/what-is-a-neural-network-fig-2-fr.svg')
.col-4
  p.lead
    | Au départ, un nouveau réseau neuronal ne « sait » rien. Il faut d'abord l'« entraîner ». À cette fin, le réseau de neurones reçoit des <strong>données d'entraînement</strong> comme valeurs d'entrée. Dans notre cas, les données d'entraînement consistent en des images de chiffres manuscrits qui ont été identifiés manuellement par des humains.
  p.lead
     | Le réseau reçoit des images d'entraînement comme valeurs d'entrée. Après le traitement de chaque image, les paramètres (c'est-à-dire les <strong>poids</strong> et les <strong>biais</strong>) sont mis à jour afin que la valeur de sortie du réseau change dans la direction du résultat souhaité. Ce changement prend en compte non seulement l'image d'entraînement en question mais toutes les données d'entraînement traitées. Ce procès continu d'ajustement des poids et des biais permet au réseau d'« apprendre » progressivement et la valeur de sortie devient de plus en plus exacte.
