p.lead
   | Les <strong>données d'entraînement</strong> sont fondamentales pour apprendre à un réseau de neurones à réaliser une tâche. Il s'agit d'habitude d'un vaste ensemble d'exemples de valeurs d'entrée, combinées avec les valeurs de sortie souhaitées. Souvent, une grande partie des données d'entraînement est utilisée pour <strong>entraîner</strong> le réseau, tandis que la partie restante est par la suite utilisée pour <strong>mettre à l'épreuve</strong> le réseau, en vérifiant son exactitude.
p.lead
   | Les données d'entraînement sont très précieuses. Heureusement, il existe des bases de données ouvertes, comme la base de données de chiffres manuscrits MNIST dont nous nous sommes servis pour cette exposition.
p.lead
   | Pour le module « Nombres neuronaux », nous avons utilisé 70 000 images de chiffres manuscrits :
.row
  .col-8
    .figure
      img.img-fluid(src='assets/img/what-is-training-data-fig-1.png')
