p.lead
  | Les données d'entraînement doivent être « nettoyées ». Dans notre cas, tous les chiffres manuscrits sont centrés et redimensionnés pour correspondre à une image de 28x28 pixels. En conséquence, l'image d'entrée que vous dessinez est également préparée avant que le réseau de neurones ne puisse commencer son analyse.
