.col-4
  p
  .figure
    img.img-fluid(src='assets/img/what-is-a-neural-network-fig-2-es.svg')
.col-4
  p.lead
    | Al principio, una red neuronal no "sabe" nada, necesita ser "entrenada". Con este propósito,
    | la red neuronal recibe <strong>datos de entrenamiento</strong> como entrada. En nuestro caso,
    | los datos de entrenamiento consisten en imágenes de dígitos manuscritos que han sido
    | manualmente identificados por humanos.
  p.lead
    | La red recibe las imágenes de entrenamiento como valores de entrada. Tras el tratamiento de
    | cada imagen, los parámetros (es decir, los <strong>pesos</strong> y los
    | <strong>sesgos</strong>) se actualizan de manera que el resultado se acerque más en la
    | dirección del resultado deseado. Este cambio tiene en cuenta no solamente la imagen que se
    | está tratando, sino todo el conjunto de las imagenes de entrenamiento. Este proceso contínuo
    | de ajuste de los pesos y los sesgos permite a la red "aprender" progresivamente y que el
    | valor de salida sea cada vez más acertado.
