p.lead
  | Los <strong>datos de entrenamiento</strong> son fundamentales para enseñar a una red neuronal a
  | realizar correctamente una tarea. Normalmente, consisten en una gran colección de ejemplos de
  | datos de entrada, junto con sus correspondientes valores de salida deseados. Con frecuencia, se
  | utiliza la mayor parte de los datos de entrenamiento para <strong>entrenar</strong> la red,
  | mientras que se reserva otra parte para <strong>evaluar</strong> la red una vez entrenada,
  | verificando su exactitud.
p.lead
  | Los datos de entrenamiento son muy valiosos. Afortunadamente, existen bases de datos abiertas,
  | como la base de datos de cifras manuscritas MNIST que hemos utilizado en esta exposición.
  | Para el módulo Números Neuronales, hemos utilizado 70.000 imágenes de cifras manuscritas.
.row
  .col-8
    .figure
      img.img-fluid(src='assets/img/what-is-training-data-fig-1.png')
