p.lead
  | Los datos de entrenamiento necesitan ser "limpiados". En este caso, todas las cifras manuscritas
  | son centradas y redimensionadas para corresponder a una imagen de 28x28 píxeles. En
  | consecuencia, la imagen de entrada que dibujas también se prepara con el mismo proceso antes de
  | que la red neuronal pueda comenzar su análisis.
